/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

h2 {
  font-weight: 700;
  color: #534f8c;
  font-size: 36px;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #5a5a62;
}

footer p {
  font-size:12px;
  text-align:center;
  margin-top:30px;
  line-height: 20px;
}

.col-md-4 {
  padding-left: 40px;
  padding-right: 40px;
}

/* emoji class for large emojis */
.emoji {
  font-size: 60px;
  margin-bottom: -5px;
  margin-top: 30px;
}

.btn {
  color:#FFF;
  background-color: #ff6410;
  border:0px;
  box-shadow: 0px 2px #e44c00;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-primary:hover,
.btn-primary.hover {
  color: #fff;
  background-color: #e44c00;
  box-shadow: 0px 2px #ff6410;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  margin-top: -50px;
  border: 0px solid transparent;
}

.navbar-nav.navbar-center {
position: absolute;
left: 50%;
transform: translatex(-50%);
}

.navbar-header {
  background-color: #F6E1E1;
  border: 0px;
}

.navbar-fixed-top {
  background-color: #F6E1E1;
}

.navbar-default {
  background-color: #F6E1E1;
}

.navbar-fixed-top.scrolled {
 background-color: #fff !important;
 transition: background-color 200ms linear;
}

.row {
  text-align: center;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-primary {
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 22px;
}

/* styles for desktop */
@media (min-width: 768px) {
  .jumbotron {
    height: 720px;
    padding-top: 100px;
    padding-right: 15%;
    padding-left: 15%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #534F8C;
    background-image: url("../images/background_02.png");
    background-size: 1200px;
    background-repeat: repeat-x;
    background-position: center bottom;
    background-color: #F6E1E1;
  }

  .jumbotron p {
    font-size: 20px;
  }

.jumbotron h1 {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 60px;
    font-weight:700;
  }

.kowidget {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

/* style for retina*/
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

    .jumbotron{
        background:url("../images/background_02@2x.png");
        background-repeat: repeat-x;
        background-position: center bottom;
        background-size: 1200px;
    }
}

/* styles for mobile */
@media (max-width: 768px) {
  .jumbotron {
    height: 500px;
    padding-top: 45px;
    padding-right: 15%;
    padding-left: 15%;
    margin-bottom: 7%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #534F8C;
    background-image: url("../images/background_02sml.png");
    background-size: 400px;
    background-repeat: repeat-x;
    background-position: center bottom;
    background-color: #F6E1E1;
  }

  .jumbotron p {
    font-size: 16px;
  }

  .jumbotron h1 {
    font-size: 32px;
    font-weight:700;
  }

  h2 {
    font-size: 32px;
    font-weight: 600;
  }

  .navbar-collapse {
    display: none;
  }

  .btn-primary {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
  }
}

/* disable mobile menu collapsing */
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}
